/* src/components/PostCarousel.css */

.slider-container {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 1200px;
}

.slider-item {
  padding: 0 10px; /* Adjust horizontal padding */
}

.slider-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.max-w-md {
  max-width: 100%;
  margin: 0 auto;
}

.content {
  text-align: center;
  padding: 10px 0;
}
