/* GalleryP.css */

.Gall {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .Gall1 {
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .Gall1 h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
    position: relative;
    display: inline-block;
    animation: fadeInText 2s ease-in-out, textShadowPulse 3s infinite;
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes textShadowPulse {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff1177, 0 0 20px #ff1177, 0 0 25px #ff1177, 0 0 30px #ff1177, 0 0 35px #ff1177;
    }
    50% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 60px #ff1177, 0 0 70px #ff1177;
    }
    100% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff1177, 0 0 20px #ff1177, 0 0 25px #ff1177, 0 0 30px #ff1177, 0 0 35px #ff1177;
    }
  }
  