/* .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 4px;
    padding-top: 3px;
    font-size: 33px;
} */
.float {
    position: fixed;
    width: 45px;
    height: 47px;
    bottom: 14px;
    /* margin-left: 14px; */
    right: 1px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}



.my-float {
    display: flex;
    /* justify-items: center; */
    /* align-items: center; */
    padding-right: 29px;
    padding-left: 1px;
    padding-bottom: 28px;
    font-size: 54px;
}